BODY {
    margin:0;
    font-size:80%;
}
.fila_superior_bandera{
	width:100%;
	
}
.fila_superior_bandera li{
	float:left;
	margin-right:5px;
}
.marco {
    width:100%;
    margin:10px auto 10px auto; /* Centrado horizontal */
}

.cabecera {
    border:solid orange px;
}
.cabecera img {
	width:100%;
}

.cuerpo {
    /*padding:10px 0 10px 0;*/
    overflow-x:hidden;
    overflow-y:hidden; /* Hace que se ajuste a la columna más alta en ff */
    /*height:100%;*/ /* Hace que se ajuste a la columna más alta  en ie6 */
}

.columna_derecha {
    float:right; /* Alineación a la derecha */
    width:20.5%;
    border:solid lightblue px;
	padding:;
}
.columna_derecha_banderas {
    float:right; /* Alineación a la derecha */
    width:2%;
    border:solid red px;
    padding:5px;
	height:1200px;
	margin-left:0.5%;
}
.columna_izquierda_bandera {
    float:left; /* Alineación a la izquierda */
    width:13%;
	margin-left:0.5%;
}
.columna_izquierda {
    float:left; /* Alineación a la izquierda */
    width:2%;
    border:solid lightblue px;
    padding:5px;
	height:1200px;
}

.columna_central {
    margin-left:17.5%; /* Espacio para la columna izquierda */
     /* Espacio para la columna derecha */
	 
    border:px solid #000;
	width:56%;
	padding:15px;
}
.columna_central h1 {
	text-align:center;
}
.columna_central_padding{
	padding:15px;
	text-align:center;
}


.pie {
    border:solid orange px;
    padding:;
}

/*menu lateral*/
#nav {
  border-radius: 5px;
  text-align: center;
  background-color: #F65220;
  width: 95%;
  color:#fff;
  z-index:3;
	position:relative;
}

#nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  color:#fff;
  border:px solid #000;
  width:100%;
}

#nav ul li {
  font-size: 16px;
  font-weight:bold;
  color: #fff;
  padding: 15px;
  width: 90%;
  display: block;
  cursor: pointer;
  margin-bottom:5px;
  border-bottom:3px solid #fff;
}

#nav ul li:hover {
  background-color: #f57048;
  width: 150px;
  color:#fff;
}

/* SUBMENU */

 #nav ul ul {
  position: absolute;
  display: none;
  margin-top: -35px;
}

#nav ul li:hover ul {
  display: block;
  color: #fff;
}

#nav ul ul li {
  margin-left: 130px;
  /*border-radius: 5px;*/
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
/*slider simple*/
#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}