.menu_border{
	border-bottom:#000 2px solid;
	border-top:#000 2px solid;
	border-left:#000 2px solid;
	border-right:#000 2px solid;
}

 /* Add a black background color to the top navigation */
.topnav {
    background-color: #F65220;
    overflow: hidden;
	
}

/* Style the links inside the navigation bar */
.topnav a {
    float: ;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    font-size: 17px;
	font-weight:bolder;
	background:#F65220;
	border-bottom:3px;
	border-color:#fff;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #f4aa93;
    color: black;
	font-weight:bolder;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: center;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 

/*TABLE RESPONSIVE*/
@media screen and (max-width: 600px) {
       table {
           width:100%;
       }
       thead {
           display: none;
       }
       tr:nth-of-type(2n) {
           background-color: inherit;
       }
       tr td:first-child {
           background: #f0f0f0;
           font-weight:bold;
           font-size:1.3em;
       }
       tbody td {
           display: block;
           text-align:center;
       }
       tbody td:before {
           content: attr(data-th);
           display: block;
           text-align:center;
       }
}

/*TABLA CON CELDAS SEPARADAS*/
.contenido table {
  border-collapse: separate;
  border-spacing:  20px 0px;
  text-align:center;
  margin-bottom:40px;
}
.contenido table p{
  background:#959393;
  color:#fff;
  font-weight:bold;