#brochure-content {
  padding: 20px;
  background-color:white;
  
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid;
  border-color: #E5E5E5;
}
