/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block}
mark, rp, rt, ruby, summary, time {display:inline}
/* Left & Right alignment */
.left {float:left}
.right {float:right}
.wrapper {width:100%;overflow:hidden}
.body1 {background:url(../images/bg2_top.gif) top repeat-x #fff}
.body2 {background:url(../images/bg2_top_img.jpg) top center no-repeat}
.body3 {background:url(../images/bg_top2.gif) top center repeat-x}
/* header */
header {width:100%;overflow:hidden;padding-bottom:20px}
/**/
button1 {display:inline-block;text-decoration:none;font-size:19px;color:#182125;border:1px solid #c6cacc;line-height:40px;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;behavior:url(js/PIE.htc);position:relative}
.button1 span {background:url(../images/button1_bg.gif) top repeat-x #eee;border:1px solid #fff;padding:0 20px;display:block;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;behavior:url(js/PIE.htc);position:relative}
.button1:hover {color:#fff}
.button1:hover span {background:#b2e1ff}
/**/
.button {display:inline-block;text-decoration:none;font-size:19px;color:#182125;border:1px solid #c6cacc;line-height:40px;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;behavior:url(js/PIE.htc);position:relative}
.button span {background:url(../images/button1_bg.gif) top repeat-x #eee;border:1px solid #fff;padding:0 20px;display:block;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;behavior:url(js/PIE.htc);position:relative}
.button:hover {color:#fff}
.button:hover span {background:#b2e1ff}
.color1 {color:#008cdd}
/* forms */
#ContactForm {margin-top:-4px;line-height:28px}
#ContactForm .button {font-size:19px;color:#fff;border:0;line-height:29px;width:81px;text-align:center;background:url(images/button2_bg.gif) top repeat-x #000}
#ContactForm .button:hover {background:#008cdd}
#ContactForm .textarea_box {min-height:232px;width:100%;overflow:hidden}
#ContactForm .wrapper {min-height:35px}
#ContactForm span {width:82px;float:left;font-weight:bold}
#ContactForm a {margin-left:10px;float:right}
#ContactForm .input {float:left;background:url(images/input.gif) no-repeat;width:311px;height:17px;padding:6px;color:#182125;font:14px Arial, Helvetica, sans-serif}
#ContactForm textarea {overflow:auto;float:left;background:url(images/textarea.gif) no-repeat;width:416px;height:202px;padding:6px;color:#182125;font:14px Arial, Helvetica, sans-serif;margin:0}