body{
	padding:0;
	margin:0;
	background-color:#cccecc;
	color:#000000;
}
div, h1, h2,h3, p, form, label, input, textarea, img, span{
	margin:0px auto; padding:0;
}
article{
	text-align:justify;
	font-family:arial, helvetica, sans-serif;
	margin-bottom:15px;
}
p
{
font-weight:normal;letter-spacing:1pt;word-spacing:2pt;font-size:13px;text-align:justify;font-family:arial, helvetica, sans-serif;line-height:1;
}

.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}
/*------------------------------------------------body--------------------*/
.link {
	text-decoration: underline;
	color:#79a3b0;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	text-align:right;
}
	.link:hover {text-decoration: none;}
#contenedor{
    text-align: left;
    width: 1100px;
    margin: auto;
	border:px solid #cccccc;
	background-color: #ffffff;
}
#cabecera{
   
    padding: 0 0 0 0px;
	background-color:#4d90cd;
}
#cuerpo{
    margin: 10 0 10 0px;
}
#lateral{
    width: 20%;
    border:px solid #000000;
    float:left;
}
#lateral ul{
    margin : 0 0 0 0px;
    padding: 0 0 0 0px;
    list-style: none;
	/*text-align:center;*/
}
#lateral li{
    
    margin: 2 2 2 2px;
    padding: 2 2 2 2px;
    font-weight: bold;
}
#lateral a{
    color: #3333cc;
    text-decoration: none;
}
#otrolado{
    border:px solid #000000;
	width: 20%;
    float: right;
}
#otrolado1{
    border:px solid #000000;
	width: 20%;
    float: right;
	margin-right:3%;
	
}
#principal{
    border:px solid #000000;
	margin-left:22%;
	margin-bottom:2%;
    padding: 4 4 4 4px;
    width: 55%;
	
} 
#principal1{
    border:px solid #000000;
	margin-left:29%;
	margin-bottom:2%;
    padding: 4 4 4 4px;
    width: 50%;
	
} 
#pie{
    background-color: #5397DA;
    padding: 3 10 3 10px;
    text-align:center;
	font-weight:400;
    clear: both;
	color:#ffffff;
} 
/*------------------------------------------------top part--------------------*/
top1{
	background:url(images/top_part.gif) 0 0 no-repeat;
	width:1100px;
	height:90px;
	margin:0px auto;
	
	position:relative;
	border:px solid #000000;
}
/*------------------------------------------------top part--------------------*/
/*------------------------------------------------top part--------------------*/
top{
	background:url(images/cintillo.png) 0 0 no-repeat;
	width:1100px;
	height:60px;
	margin:0px auto;
	
	position:relative;
	border:px solid #000000;
}
/*------------------------------------------------top part--------------------*/
/*-----------------------------------------menu desplegable superior----------*/
			.fondo_azul {
				background-color:#4d90cd;
				height:45px;
			}
            #header .nav{
				font-size:16px;
                margin:auto 0px;
                width:1100px;
                font-family:Arial, Helvetica, sans-serif;
				border:px solid #000000;
				padding:0px;
			}
            
            ul{
                list-style:none;
				
				
            }
            
            .nav > li {
                float:left;
				
            }
            
            .nav li a {
                background-color:#4d90cd;
                color:#fff;
                text-decoration:none;
                padding:10px 16px;
                display:block;
				list-style:none;
            }
            
            .nav li a:hover {
                background-color:#75aee1;
            }
            
            .nav li ul {
                display:none;
                position:absolute;
                min-width:180px;
            }
            
            .nav li:hover > ul {
                display:block;
            }
            
            .nav li ul li {
                position:relative;
            }
            
            .nav li ul li ul {
                right:-180px;
                top:0px;
            }
/*----------------------------------------------------------------------------*/
#wrap{margin:0px auto;width:1100px;}
/*------------------------------------------------body--------------------*/
#body{
	/*border: #999999 solid 2px;*/
	float:left;
	width:1100px;
	margin:0 auto;
	padding:0;
	background-color:#fff;
	color:#000;
}
#body ul.nav li.navLinkNoBdr a.moreLink{
	display:block;
	background:url(images/more_links_icon.gif) 8px 7px no-repeat #fff;
	padding:0 0 0 49px;
	font:bold 13px/46px Arial, Helvetica, sans-serif;
	color:#171717;
	text-transform:uppercase;
	text-decoration:none;
}
#body ul.nav li.navLinkNoBdr a.moreLink:hover{
	background:url(images/more_links_icon_hover.gif) 8px 7px no-repeat #fff;
	color:#39638A;
}	

/*------------------------------------------------left panel--------------------*/

/*------------------------------------------------mid panel--------------------*/
#mid{
	width:535px;
	border:#666666 solid 3px;
	color:#fff;
	padding:10px 0px 0 0px;
	float:left;
}
#mid_admin{
width:1100px;
/*border:#666666 solid px;*/
	background:url(images/mid_panel_bg.gif) 0 0 repeat-x #;
	color:#000;
	margin:0px auto;
	z-index:10;
}
#mid_admin_rep{
width:1100px; /*border:#666666 solid 1px;*/
	background:url(images/mid_panel_bg.gif) 0 0 repeat-x #;
	color:#000;
	padding:0px 0px 0 0px;
	margin:0px auto;
}
.text_quienes{font-family:Georgia, "Times New Roman", Times, serif; text-align:justify;font-size:14px;font-weight:400;}
/*------------------------------------------------mid panel--------------------*/

/*------------------------------------------------footer--------------------*/
#footerMain{
	z-index:-1;
	position:absolute;
	width:1100px;
	margin:0 auto;
	height:75px;
	background-color:#fff;
	color:#000;
}
#footer{
	z-index:1;
	width:1100px;
	margin:0 auto;
	background-color: #5397DA;
	height:75px;
	position:relative;
}
#footer ul{
	width:500px;
	position:absolute;
	left:300px;
	top:5px;
}
#footer ul li{
	float:left;
	color:#fff;
	background-color:inherit;
	font:normal 12px/16px Arial, Helvetica, sans-serif;
}
#footer ul li a{
	font:normal 12px/16px Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	padding:0 11px;
	text-decoration:none;
}
#footer ul li a:hover{
	color:#fff;
	background-color:#03373B;
}
#footer p.copyright{
	font:normal 11px/11px Tahoma, Arial, Helvetica, sans-serif;
	color:#000000;
	background-color:inherit;
	position:absolute;
	left:470px;
	top:25px;
}

#footer p.design{
	display:block;
	width:530px;
	padding:3px;
	position:absolute;
	left:270px;
	top:39px;
	font:bold 11px/17px Arial, Helvetica, sans-serif;
	color:#000000;
	font-weight:bolder;
	text-transform:none;
	text-align:center;
}
#footer p.design a.link{
	font:bold 11px/17px Arial, Helvetica, sans-serif;
	color:#000000;
	font-weight:bolder;
	text-decoration:none;
	text-transform:none;
}
#footer p.design a.link:hover{
	color:#000000;
	background-color:#;
}
/*------------------------------------------------footer--------------------*/